<h1><%= @restaurant.name %></h1>

Opening Hours:<%= @restaurant.opening_hours %><br>
Tel: <%= @restaurant.tel_no %><br>
Address: <%= @restaurant.address %><br>
Description:<%= @restaurant.description %><br>

<br>

<%= image_tag @restaurant.image, width: '300px' if @restaurant.image? %>


<%= link_to 'Back to index', admin_restaurants_path %>